[Desktop Entry]
Encoding=UTF-8
Name=Telegram
Exec=/opt/Telegram/Telegram
Icon=/opt/Telegram/telegram256.png
Type=Application
Categories=Network;
StartupNotify=false
